{% extends 'blog/base.html' %} {% block content %}
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
                <h1>Detalle Producto:</h1>
        </header>
        <div class="box alt">
            <div class="row 50% uniform">
                <div class="post-detail">
                    
                    <h1>Nombre : {{ productos.nombre }}</h1>
                    <h2>Costo Presupuestado: {{ productos.costoPresupuestado }}</h2>
                    <h2>Costo Real: {{ productos.costoReal }}</h2>
                    <h2>Notas: {{ productos.notasAdicionales}}</h2>
                    <h2>Estado: {{ productos.get_estado_display }}</h2>
                   
                    <ul>
                        <li class="modificar">
                            <a class="btn btn-default" href=""><span class="icon-pencil edit"></span>
                                Modificar Producto</a>
                        </li>
                        <li class="remover">
                            <a class="btn btn-default" onclick="borrarMascota()" href=""><span
                                    class="icon-minus delete"></span> Borrar Producto</a>
                        </li>
                    </ul>
                    <br>
                    <input type="button" name="back" value="Volver" onclick="location.href='/producto_list'">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}